<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= console.log(games) %>
    <title>
      <%=games[0].name %>
    </title>
    <sub class="gameId"></sub>
    <script src="https://kit.fontawesome.com/bbc193bfe3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css" />

</head>

<body>
  <header>
    <section class="headerWrapper">
      <a href="/user/myProfile" class="userIcon">
        <i class="fa-solid fa-circle-user userIcon"></i>
      </a>
      <a href="/dashboard">
        <h1>Gaming Shelf</h1>
      </a>
    
        <form action="/dashboard/searchAPI" method="get" class="searchBar">
          <input class="movieName" type="text" placeholder="Game Name" name="userSearch" /><br>
          <input type="submit" class="movieSubmit" />
        </form>
     
      <span class="logout"><a href="/logout">Logout</a></span>
    </section>
  </header>
  <section class="test" style=<%=`background-image:url(//images.igdb.com/igdb/image/upload/t_1080p/${
    games[0].screenshots==undefined ? "/null" : games[0].screenshots[0].image_id}.png);background-size:cover;`%>
    >
    <section class="gWrapper">
      <section class="gHeader">
        <section class="imageWrapper">
          <img class="gCover z-depth-3"
            src=<%=`https://images.igdb.com/igdb/image/upload/t_cover_big/${games[0].cover==undefined ?
            games[0].cover='/null' : games[0].cover.image_id}.png`%> >
        </section>
        <section class="titleWrapper">
          <p class="gTitle">
            <%= games[0].name%>
          </p>
        </section>
      </section>
      <section class="gTop">
        <section class="gDataChunk">
          <section class="gPlatform Info z-depth-3">
            <% games[0].platforms==undefined ? games[0].platforms='unknown' : games[0].platforms.forEach(el=> { %>
              <p>
                <%= games[0].platforms==undefined ? 'unknown' : el.alternative_name %>
              </p>
              <%})%>
          </section>

          <section class="gSummary Info z-depth-3">
            <p>
              <%= games[0].summary==undefined ? "No Summary Available" : games[0].summary%>
            </p>
          </section>



        </section>
        <section class="submitSection">
          <section class="Info formSubmit z-depth-3">
            <div class="mt-5">
              <h2>Add a post</h2>
              <form action="/post/createPost/<%=games[0].id %>" enctype="multipart/form-data" method="POST">
                <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title">
                </div>
                <div class="mb-3">
                  <label for="caption" class="form-label">Caption</label>
                  <textarea class="form-control" id="caption" name="caption"></textarea>
                </div>
                <div class="mb-3">
                  <label for="imgUpload" class="form-label">Image</label>
                  <input type="file" class="form-control" id="imageUpload" name="file">
                </div>
                <div class="mb-3">
                  <label for="gameId" class="gameId" id="gameId" style="visibility: hidden;">
                    <%= games[0].id %>
                  </label>
                </div>
                <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
              </form>
            </div>

          </section>
        </section>
        <section class="gPosts">
          

          <% if(posts.length==0){ %>
            <section class="gPostHeader gNoPosts rnd">
              <p>No one has posted for this game yet... <br> Be the first!</p>
            </section>
            <% }else{ %>

              <div class="gPostHeader rnd">
                <H1>POSTS</H1>
              </div>

              <% } %>
                <% for(var i=0; i<posts.length; i++) {%>

                  <section class="screenPost rnd z-depth-3">
                    <section class="screenPostUser rnd">

                      <a href="/user/<%= posts[i].user %>">
                        <P class="screenPostUser rnd">
                          <%= posts[i].userName%>
                        </P>
                      </a>
                    </section>
                    <a href="/post/<%= posts[i]._id%>">

                      <p class="screenPostCap">
                        <%= posts[i].title %>

                      </p>

                      <section class="screenPostImg"><img class="img-fluid" src="<%= posts[i].image%>"></section>
                    </a>
                    <section class="screenPostBottom">
                      <section class="screenPostCap">
                        <span>
                          <%=posts[i].caption %>
                        </span>
                      </section>
                      <section class="likes">
                        <a href="/post/likePost/<%= posts[i]._id%>"><i class="fa-solid fa-heart"></i></a> <span class="screenPostLikes">
                          <%=posts[i].likes.length %>
                        </span>
                      </section>
                    </section>
                  </section>
                  <% } %>

        </section>


        
      </section>







    </section>
  </section>
  <script src="/js/main.js"></script>
</body>

</html>