<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= post.title %>
  </title>
  <sub class="gameId"></sub>
  <script src="https://kit.fontawesome.com/bbc193bfe3.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link rel="stylesheet" href="/css/style.css" />


</head>

<body>
  <header>
    <section class="headerWrapper">
      <a href="/user/myProfile" class="userIcon">
        <i class="fa-solid fa-circle-user userIcon"></i>
      </a>
      <a href="/dashboard">
        <h1>Gaming Shelf</h1>
      </a>
    
        <form action="/dashboard/searchAPI" method="get" class="searchBar">
          <input class="movieName" type="text" placeholder="Game Name" name="userSearch" /><br>
          <input type="submit" class="movieSubmit" />
        </form>
     
      <span class="logout"><a href="/logout">Logout</a></span>
    </section>
  </header>
  <section class="postWrapper">
    <section class="postView rnd z-depth-3">
      <div class="postViewUserName">
        <span>
          <a href="/user/<%= post.user %>"><%= post.userName %></a>
        </span>
        <p class="postViewTitle b">
          <%= post.title %>
        </p>
      </div>

      <section class="postViewImgWrapper b">
        <img class="postViewImg b" src="<%= post.image%>" />
      </section>
      <div class="postViewUserName">
        <section class="screenPostBottom">
          <section class="screenPostCap">
            <span>
              <%=post.caption %>
            </span>
          </section>
          <section class="likes">
            <a href="/post/likePost/<%= post._id%>"><i class="fa-solid fa-heart"></i></a> <span class="screenPostLikes">
              <%=post.likes.length%>
            </span>
          </section>
        </section>
      </div>
    </section>

    <section class="postViewComments rnd center">
      <h1>COMMENTS</h1>
      <div class="mt-5">
        <h2>Add a Comment</h2>
        <form action="/post/createComment/<%=post._id%>" method="POST">
          <div class="mb-3">
              <label for="comment" class="form-label">Comment</label>
              <input type="text" class="form-control" id="comment" name="comment">
          </div>
          <button type="submit" class="btn btn-primary" >Submit</button>
        </form>
      </div>
      <ul class="row list-unstyled">
        <% for(var i=0; i<comments.length; i++) {%>
          <li class="justify-content-left mt-5">
            <div class="comment rnd z-depth-3">
            <div class="commentHeader rnd"><span><%= comments[i].user %></span></div>
           <p><%= comments[i].comment %> </p>
            </div>
          </li>
        <% } %>
        </ul>
      
    </div>
      </section>
    </section>
    </section>
  </section>
  
</body>

</html>