<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <section class="headerWrapper">
        <span class="logo"><a href="/">MFM</a></span>
        <h1>My Favorite Movies</h1>
        <span class="logout"><a href="/logout">Logout</a></span>
      </section>
    </header>
    <section class="wrapper">
      <section class = 'headerTitle'><h2>
        Hello <%= user.userName %>, please search for a movie to add to your
        favorites.
      </h2>
    </section>
      <!-- <% console.log(movies) %> -->
    <section class ='searchBar'>
      <form action="/todos/searchAPI" method="GET">
        <input
          class="movieName"
          type="text"
          placeholder="Movie Name"
          name="userSearch"
        /><br>
        <input type="submit" class="movieSubmit" />
      </form>
    </section>
      <section class="searchResults">
        <% movies.results.forEach( el => { %>
        <section class="todoItem" data-id="<%=el._id%>">
          <section class="card">
            <img src = <%=`https://image.tmdb.org/t/p/w1280${el.poster_path}` %>
            class="'mPoster" >
            <span class="mName"><%= el.title %></span>
            <section class="feedback">
              <span class="mFav"><a href="/todos/favorites/<%= el.id %>" method='POST'>Favorite</a></span>
              <span class="mLike">Like</span>
            </section>
          </section>
        </section>
        <% }) %>
      </section>
      <!-- <section class="myFavs"></section>
      <form action="/todos/createTodo" method="POST">
        <input type="text" placeholder="Add Movie" name="todoItem" />
        <input type="submit" />
      </form> -->
     
    </section>
    <script src="/js/main.js"></script>
  </body>
</html>
