<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <section class="headerWrapper">
        <span class="logo"><a href="/">MFM</a></span>
        <h1>My Favorite Movies</h1>
        <span class="logout"><a href="/logout">Logout</a></span>
      </section>
    </header>
    <section class="wrapper">
      <section class = 'headerTitle'><h2>
        Hello <%= user.userName %>, please search for a movie to add to your
        favorites.
      </h2>
    </section>
      <!-- <% console.log(movies) %> -->
    <section class ='searchBar'>
      <form action="/todos/searchAPI" method="GET">
        <input
          class="movieName"
          type="text"
          placeholder="Movie Name"
          name="userSearch"
        /><br>
        <input type="submit" class="movieSubmit" />
      </form>
    </section>
      <section class="searchResults">
        <% movies.results.forEach( el => { %>
        <section class="todoItem" data-id="<%=el._id%>">
          <section class="card">
            <section class="searchImage">
            <img class="mPoster" src = <%=`https://image.tmdb.org/t/p/w1280${el.poster_path}` %> >
          </section>
            <span class="mName"><%=  el.title.length > 20 ? el.title.slice(0,32) + '...' : el.title  %></span>
            <section class="feedback">
              <!-- <%= el.poster_path == null ? el.poster_path = '/null' : el.poster_path%> -->
              <span class="mFav"><a href="/todos/favorites/<%=[el.title, el.id, el.poster_path.slice(1,el.poster_path.length)]%>" method='POST'>Favorite</a></span> 
              <!-- The above code send the title, posterpath with the '/' removed, and the id to the server as an array, but actually a string -->
              <span class="mLike">Like</span>
            </section>
          </section>
        </section>
        <% }) %>
      </section>
<!--  -->
      <h2 class = 'headerTitle'> Your Current Favorites </h2>
      <section class="searchResults">
      <% todos.forEach( el => { %>
        <li class='todoItem' data-id='<%=el._id%>'>
          <section class="card" data-id='<%=el._id%>'>
            <section class="searchImage">
          <img class="'mPoster" src = <%=`https://image.tmdb.org/t/p/w1280/${el.movPoster}` %>>
        </section>
          <!-- Above sets the poster path using the element -->
          
            <section class="titleFav">
            <span class="mName"><%= el.movName.length > 20 ? el.movName.slice(0,32) + ' ...' : el.movName %></span><br> 
            <!-- Above sets the pictures name -->
            </section>
            <span class='del'> REMOVE </span>
            <!-- die -->
          
        </section>
        </li>
      <% }) %>    
      </section>
</ul>
     
    </section>
    <script src="/js/main.js"></script>
  </body>
</html>
