<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= posts[0].userName %></title>
    <script src="https://kit.fontawesome.com/bbc193bfe3.js" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <link rel="stylesheet" href="/css/style.css" />
             
  </head>
  <body>
    <header>
      <section class="headerWrapper">
        <a href="/user/myProfile" class="userIcon">
          <i class="fa-solid fa-circle-user userIcon"></i>
        </a>
                  <a href="/dashboard"><h1>Gaming Shelf</h1></a>
        <span class="logout"><a href="/logout">Logout</a></span>
      </section>
    </header>



    <section class="gPostsProfileView">

      <% for(var i=0; i<posts.length; i++) {%>

        <section class="screenPost rnd z-depth-3">
          <section  class="screenPostUser rnd">
        
          <a href="/user/<%= posts[i].user %>"><P class="screenPostUser rnd">  <%= posts[i].userName%></P></a>
          </section>
          <a href="/post/<%= posts[i]._id%>">
           
          <p class="screenPostCap">
              <%= posts[i].title %>
            
            </p>
            
            <section class="screenPostImg"><img class="img-fluid" src="<%= posts[i].image%>"></section>
          </a>
          <span class="screenPostCap">
            <%=posts[i].caption %>
          </span>
        </section>

        <% } %>

    </section>




  </section>
</section>

    
   
    <script src="/js/main.js"></script>
  </body>
</html>